[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

"scikit-image" = "*"
keras = "*"
numpy = "*"
scipy = "*"
pygame = "*"
tensorflow = "*"
"h5py" = "*"


[requires]
python_version = "3.5"